<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>servletsOpenClassroom</display-name>
  <servlet>
    <servlet-name>ContactController</servlet-name>
    <servlet-class>controller.ContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactController</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AjouterProduitController</servlet-name>
    <servlet-class>controller.AjouterProduitController</servlet-class>
    <multipart-config>
  		<max-file-size>10485760</max-file-size>
  		<max-request-size>52428800</max-request-size>
  	</multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProduitController</servlet-name>
    <url-pattern>/AjouterProduit</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>